/** @format */

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
* {
	margin: 0;
	padding: 0;
}
li {
	list-style: none;
}
:root {
	--main-color: rgba(182, 111, 6, 0.842);
}
html {
	direction: rtl;
}
body {
	font-family: 'Cairo', sans-serif;
}
.other {
	position: fixed;
	top: 70px;
	right: -100px;
	background-color: var(--main-color);
	width: 100px;
	z-index: 11;
	transition: 0.3s;
	border-radius: 20px;
}
.other.open {
	right: 0;
}
.other .toggle {
	position: absolute;
	right: 100px;
	top: 50%;
	background-color: var(--main-color);
	font-size: 10px;
	padding: 2px 0 2px 2px;
	border-bottom-left-radius: 50%;
	border-top-left-radius: 50%;
}
.other h3 {
	display: flex;
	justify-content: center;
	font-size: 15px;
	color: white;
	margin: 15px 0;
}
.other .items {
	padding: 10px;
	color: white;
	font-size: 10px;
}
.other .items .li {
	position: relative;
	margin: 4px 0;
	list-style: none;
	cursor: pointer;
	overflow: hidden;
	padding: 10px 0;
	display: flex;
	justify-content: center;
	text-decoration: none;
	color: white;
}
.other .items .active,
.other .items .li:hover {
	color: black;
	transform: translatey(-10px);
	background-color: rgba(255, 165, 0, 0.5);
	border-radius: 30px;
}

.page {
	background-image: url(./assets/one.jpg);
	background-size: cover;
	min-height: 100vh;
	position: relative;
	display: flex;
	align-items: center;
}

.page::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: #140c0c4f;
}

.page .container {
	position: absolute;
	z-index: 2;
	backdrop-filter: blur(2px);
	padding: 10px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.page .container .topPage {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 50px;
	color: white;
	padding-bottom: 20px;
	border-bottom: solid 2px rgba(182, 111, 6, 0.842);
}
.page .topPage .city {
	display: flex;
	flex-direction: column;
}
.page .topPage label {
	font-size: 15px;
}

.page .topPage .city select {
	width: 100px;
	background: border-box;
	color: white;
	border: solid 1px white;
	border-radius: 3px;
	background-color: rgba(182, 111, 6, 0.842);
	outline: none;
}
.page .topPage .date {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.page .topPage .date p {
	padding-right: 10px;
	font-size: 10px;
}
.page .topPage .datetype-date {
	display: flex;
	flex-direction: row;
}
.page .topPage .date .type-date select {
	background: border-box;
	color: white;
	border: solid 1px white;
	border-radius: 3px;
	background-color: rgba(182, 111, 6, 0.84);
	outline: none;
	padding: 2px 7px;
	margin-right: 4px;
}

.page .bottomPage {
	margin-top: 10px;
}
.page .bottomPage .row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
